.header {
 
  color: var(--ion-color-primary-contrast);
}

.PlaceHeader__container {
  width: 90%;
  margin: auto;
  margin-top: -50px;
}

.PlaceHeader__header {
  display: flex;
  justify-content: space-between;
}

.PlaceHeader__img {
  width: 80px;
  height: 80px;
  border-radius: 100pt;
}

.PlaceHeader__infoscontainer {
  display: flex;
  flex-direction: column;
  width: 72%;
  
  margin-bottom: 20px;
}
.PlaceHeader__infoscontainer h1 {
  
}

.PlaceHeader__infoscontainer p,
h1 {
  margin-bottom: 0px;
}

h1 {
  font-size: var(--ion-font-size-h3);
}

.PlaceHeader__infoscontainer p {
  font-size: var(--ion-font-size-h4)
}

.PlaceHeader__leftcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -50px;
  height: 200px;
}

.PlaceHeader__voirphotos {
  text-align: right;
  text-decoration: underline;
}

.PlaceHeader__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.PlaceHeader__footer__icons {
  display: flex;
}

.PlaceHeader__footer__icons .access {
  margin-right: 10px;
}
.notationIcon {
  font-size: 31pt;
}

.PlaceHeader__footer__map {
  display: flex;
}
