/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : SearchHeader.css
 * Description : Fichier css du composant SearchHeader.tsx
 ************************************************************************/
#ionHeader {
    margin-bottom: 20px;
    background-color: var(--ion-color-primary);
    margin-top: 50px;
}

.titleContainer ion-buttons {
    margin-left: 2%;
}
  
.titleContainer {
    display: flex;
    width: 96%;
    margin: auto;
    margin-bottom: 10px;
}
  
.titleContainer ion-icon {
    color: var(--ion-color-primary-contrast);
    font-size: var(--ion-font-size-h1);
}

.titleContainer h1 {
    margin-top:8px;
    margin-left: 2%;
    
}

h1 {
    font-size: var(--ion-font-size-h1);
    color: var(--ion-color-primary-contrast); 
    margin-left: 2%;
}

#addTitle {
    font-size: var(--ion-font-size-h4);
    width: 90%;
    text-align: center;
    padding-top: 12px;
}

#homeTitle {
    margin: auto;
    margin-top: 12px;
    margin-bottom: 6px;
}

.titleCentered {
    text-align: center;
}