/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : CategorieCard.css
 * Description : Fichier css du composant CategorieCard.tsx
 ************************************************************************/
 .accessCardContainer {
  border-radius: 10px;

  padding: 0px 15px;
  margin-bottom: 20px;
  margin: 15px auto;
  
  width: 90%;
  height: 80px;

  display: flex;
  flex-direction: row;  

  
  background-color: var(--ion-color-secondary);

  text-decoration: none;
  justify-content: space-between;
  line-height: 80px;
  text-align: center;
  
}

.icons{
  width: 40px;
  height: 40px;
  padding-top: 20px;
}

.iconsFill {
  fill: var(--ion-color-primary);
  stroke: var(--ion-color-primary);
}



.accessCardContainer:hover, .accessCardContainer:focus {
  background-color: var(--ion-color-primary);
  border: 1px solid var(--ion-color-secondary);
  padding: 0px;
}

.accessCardText {
  font-size: var(--ion-font-size-h3);
  font-weight: 500;
  color: var(--ion-color-primary);
}





