/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : CategorieCard.css
 * Description : Fichier css du composant CategorieCard.tsx
 ************************************************************************/
.categorieCardContainer {
    border-radius: 10px;

    padding: 0px 1px;
    margin: 0px;
    margin-bottom: 20px;
    
    
    width: 95px;
    height: 95px;

    display: flex;
    flex-direction: column;
    

    color: var(--ion-color-primary);
    background-color: var(--ion-color-secondary);

    text-decoration: none;
    justify-content: center;
    text-align: center;
    
}



.categorieCardContainer:hover, .categorieCardContainer:focus {
    color: var(--ion-color-secondary);
    background-color: var(--ion-color-primary);
    border: 1px solid var(--ion-color-secondary);
    padding: 0px;
}

.categorieCardText {
    font-size: var(--ion-font-size-h5);
    font-weight: 700;
}

