/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : CategorieCard.css
 * Description : Fichier css du composant CategorieCard.tsx
 ************************************************************************/
.placeCardContainer {
    border-radius: 10px;
    border: solid 1px var(--ion-color-secondary);

    
    margin: auto;
    margin-bottom: 20px;
    
    text-align: center;
    
    width: 90%;
    height: auto;

    display: flex;
    flex-direction: column;

    text-decoration: none;

    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary);
}

.placeCardContainer:hover, .placeCardContainer:focus {
    color: var(--ion-color-primary);
    background-color: var(--ion-color-secondary);
    border: 1px solid var(--ion-color-primary);
}

.images {
    position: relative;
    top: 0;
    left: 0;
}

#banner {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    margin: 0;
    padding: 0;
}

.placeImg {
    height: 120px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    border-top-left-radius: 10pt;
    border-top-right-radius: 10pt;
}

.placeDetails {
    text-align: left;
    padding: 20px 20px;
    margin-top: 0px;

    
}

.placeDetail+.placeDetail {
    font-size: var(--ion-font-size-h4);
    margin-top: 7px;
}

.placeName {
    font-size: var(--ion-font-size-h2);
    font-weight: 700;
}

.placeAccesibilities {
    text-align: left;
    margin-top: -15px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
}

.access {
    stroke: var(--ion-color-primary-contrast);
    fill: var(--ion-color-primary-contrast);
    font-size: 26pt;
}

.placeNotations {
    margin-left: -2px;
}





