/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : Input.css
 * Description : Fichier css du composant Input.tsx
 ************************************************************************/
 .input {
    border: 2px solid var(--ion-color-primary-contrast);
    border-radius: 10px;
    padding: 10px 10px;
    
    margin-top: 20px;
    margin-bottom: 20px;

    width: 100%;
    height: 40px;
    
    font-size: var(--ion-font-size-h4);

    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    filter: drop-shadow(0px 0px 2px var(--ion-color-primary-contrast));
    
    text-align: left;
}

.input::placeholder {
    color: var(--ion-color-primary-contrast);
}

.commentary {
    padding-right: 20%;
    font-size: var(--ion-font-size-h5);
}