/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : InputArea.css
 * Description : Fichier css du composant InputArea.tsx
 ************************************************************************/
 .textArea {
    border: 2px solid var(--ion-color-primary-contrast);
    border-radius: 10px;
    padding: 10px 10px;
    
    
    margin-bottom: 20px;

    width: 100%;
    height: 40px;
    
    font-size: var(--ion-font-size-h4);

    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    filter: drop-shadow(0px 0px 5px var(--ion-color-primary-contrast));
    
    text-align: left;

    height: 200px;
}

.textArea::placeholder {
    color: var(--ion-color-primary-contrast);
}