/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : SearchBar.css
 * Description : Fichier css du composant SearchBar.tsx
 ************************************************************************/
 .searchbar {
    border: 2px solid var(--ion-color-primary-contrast);
    border-radius: 70px;
    padding: 10px 10px;
    padding-left: 12%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 90%;
    height: 40px;
    
    font-size: var(--ion-font-size-h6);
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary);
    filter: drop-shadow(0px 0px 5px var(--ion-color-primary-contrast));
    
    text-align: left;
}

.searchbar::placeholder {
    color: var(--ion-color-primary-contrast);
}

.searchIcon {
    fill: var(--ion-color-primary-contrast);

    position: absolute;
    padding-top: 33px;
    left: 10%;
}