/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : HomePage.css
 * Description : Fichier css de la page Home.tsx
 ************************************************************************/

 .ionContent {
  background-color: var(--ion-color-primary);
 }

.categoriesCardsContainer {
  margin: auto;
  width: 90%;

  display: flex;
  justify-content: space-between;

  flex-flow: row;
  flex-wrap: wrap;
}

.componentContainer {
  margin: auto;
  margin-top: 200px;
  margin-bottom: 80px;
  width: 100%;
}

.placesContainer {
  margin-top: 200px;
  padding-bottom: 50px;
  width: 90%;
  margin-left: 5%;
}

.subCategoriesPlacesContainer {
  margin-top: 200px;
  padding-bottom: 50px;
}

.header {
  margin-top: 120px;
}

@media screen and (min-width:961px)  { 
  .componentContainer {
    width: 60%;
  }

  .subCategoriesPlacesContainer {
    width: 60%;
    margin-left: 20%;
  }
}

