/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : Menu.css
 * Description : Fichier css du composant Menu.tsx
 ************************************************************************/


.IonPage {
    height: 50px;
    color: var(--ion-color-primary-contrast);
}

.menuTextContainer {
    display: flex;
    padding-right: 5%;
}

ion-item {
    --background: transparent;
}

.menuList {
    background-color: var(--ion-color-primary);
}

.appName {
    color: var(--ion-color-secondary);
    font-size: 18pt;
}

.whiteText {
    color: var(--ion-color-primary-contrast);
}

a {
    text-decoration: none;
}