/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : Button.css
 * Description : Fichier css du composant Button.tsx
 ************************************************************************/
 .buttonContainer {
    border: 1px solid var(--ion-color-secondary);
    color: var(--ion-color-primary);
    background-color: var(--ion-color-secondary);
}

.buttonContainer:hover, .buttonContainer:focus {
    color: var(--ion-color-secondary);
    background-color: var(--ion-color-primary);
}

.commonButton {
    padding: 10px 10px;
    width: 190px;
    height: 49px;
    font-size: var(--ion-font-size-h3);
    border-radius: 10px;
}
.viewButton {
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary-shade);
    border: none;
    padding: 10px 10px;
    width: 190px;
    height: 35px;
    font-size: var(--ion-font-size-h5);
    border-radius: 4.52px;
}

.viewButton:hover, .viewButton:focus {
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary-shade);
}