/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : Commentary.css
 * Description : Fichier css du composant Commentary.tsx
 ************************************************************************/
.commentary {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-align: left;

    color: var(--ion-color-primary-contrast);
}

.commentary+.commentary {
    margin-top: 30px;
}

.commentaryContent {
    width: 73%;
    font-size: var(--ion-font-size-h5);
    font-weight: 400;
}

.commentaryInfo {
    width: 80%;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-weight: 200;
}

.commentaryActions {
    display: flex;
    flex-direction: column;
}

.icon {
    font-size: 16pt;
    cursor: pointer;
}

.commentaryLike {
    display: flex;
    justify-content: flex-end;
}

.heartIcon {
    fill: var(--ion-color-primary-shade);
}

.heartFillIcon {
    fill: rgba(116, 8, 29, 0.938);
    
}

.closeIcon {
    color: var(--ion-color-primary-contrast);
}
