/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : CategorieCard.css
 * Description : Fichier css du composant CategorieCard.tsx
 ************************************************************************/
 .formCardContainer {
    width: 100%;
    margin-bottom: 20px;
 }

.formDetailsCardContainer {
    border-radius: 0;
    border-top: solid 1px var(--ion-color-secondary);
    color: var(--ion-color-primary-contrast);
    width: 100%;
    height: auto;

    margin: 0px auto 0px;
    padding:  15px 10px;

    display: flex;
    flex-direction: column;

    text-decoration: none;

    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary-shade);
}

.formDetailsCardContainer:hover, .formDetailsCardContainer:focus {
    /*color: var(--ion-color-primary);
    background-color: var(--ion-color-secondary);
    border: 1px solid var(--ion-color-primary);*/
}

.formDetailsHeader {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.formNotationIcon, .formUserStatus {
    font-size: 31pt;
}

.formUser {
    display: flex;
    flex-direction: row;
    width: 65%;
}

.formUserRole {
    color: var(--ion-color-primary);
    background-color: var(--ion-color-secondary);
    width: 100%;
    padding: 10px 10px;
    border-radius: 10pt;
    border: solid 1px var(--ion-color-primary);
    font-size: 10pt;
}

.userImg {
    width: 40px;
    height: 40px;
    border-radius: 100pt;
}

.formUserDetails {
    margin-left: 10px;
}

.formUserDetailsName {
    font-size: var(--ion-font-size-h3);
    font-weight: 700;
    
}
.formUserDetailsDate {
    font-size: var(--ion-font-size-h5);
}

.formDetailsText {
    font-size: var(--ion-font-size-h5);
    font-weight: 200;
}

.formDetailsAnswerTitle {
    font-size: var(--ion-font-size-h3);
    color: var(--ion-color-secondary);
    margin: 20px auto;
    text-align: center;
}

.placeDetailsFormTitle {
    width: 90%;
    margin: 20px auto;
    font-size: var(--ion-font-size-h2);
}

.formDetailsAnswerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--ion-font-size-h4);
    font-weight: 200;
}

.formDetailsAnswerContainer+.formDetailsAnswerContainer {
    margin-top: 10px;
}

.formDetailsQuestion {
    width: 79%;
}

.formDetailsAnswer {
    margin: auto 0px;
}

.formSocial {
    background-color: var(--ion-color-primary-shade);
    border-top: solid 1px var(--ion-color-secondary);
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

.formCountCommentaries {
    text-decoration: underline;
    font-size: var(--ion-font-size-h3);
}

.commentaryEnter {
    position: relative;
}

.commentaryInputContainer {
    padding-right: 17%;
    border-top: none;
    border-bottom: 1px solid var(--ion-color-secondary);
    border-left: none;
    border-right: none;
    width: 100%;
    margin-top: 10px;
}

.inputCommentary {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font-size: 11pt;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
}

.commentary {
    margin-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
}
  
.commentaryButtonContainer {
    position: absolute;
    top: 0px;
    left: 80%;
    width: 20%;
}

.cancelCommentaryEdit {
    position: absolute;
    top: 7px;
    left: 73%;
}

.iconCancelCommentaryEdit {
    font-size: 18pt;
}

.commentarySendButton {
    padding: 5px 5px;
    width: 100%;
    height: 40px;
    font-size: var(--ion-font-size-h6);
    border-top-left-radius: 40pt;
    border-bottom-left-radius: 40pt;
    border-left: 1px solid var(--ion-color-primary);
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-primary)
}

.formLikeUnlike {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.formLikeUnlikeContainer {
    padding-top: 10px;
    width: 50%;
    border-right: solid 1px var(--ion-color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 5%;
    padding-left: 5%;
    cursor: pointer;
}

.commentaryDeleteFormIconContainer {
    margin-left: auto;
    margin-bottom: 10px;
}


.commentaryDeleteFormIcon {
    
    font-size: 20pt;
}

.likeDislikeIcon {
    font-size: 20pt;

    cursor:pointer;
}

.likeDislikeNumber {
    margin: auto 0px;
    color: var(--ion-color-primary-contrast);
}

.viewButtonContainer {
    padding-top: 10px;
}

.formCommentariesContainer {
    margin-top: 20px;
}







