/************************************************************************
 * Auteur : 
 * Fichier : ProfilPage.css
 * Description : Fichier css de la page Profil.tsx
 ************************************************************************/
.titleConnect {
    text-align: center;
    font-size: 25pt;
    color: var(--ion-color-primary-contrast);
    margin-top: 50px;
}

.subtitle {
    color: var(--ion-color-secondary);
    font-size: 16pt;
    text-align: center;
}

.formConnect {
    margin: auto;
    margin-top: 20px;
    width: 80%;
    color: var(--ion-color-primary-contrast);
}

.signUpText {
    text-align: center;
    font-size: 9pt;
}

.linkToSignup {
    color: var(--ion-color-primary-contrast);
    cursor: pointer;
}

.errorMessage {
    margin-top: 50px;
    width: 100%;
    padding: 15px 10px;
    
    text-align: center;
    border-radius: 2px;
    background-color: rgba(116, 8, 29, 0.938);
    color: var(--ion-color-primary-contrast);
}

.profilButtonContainer {
    text-align: center;
}

.profilButton {
    padding: 15px 20px;
    color: var(--ion-color-primary);
    background-color: var(--ion-color-secondary);
    width: 200px;
    font-size: 18px;
    border-radius: 10px;
}

.profilButton:hover {
    color: var(--ion-color-secondary);
    background-color: var(--ion-color-primary);
}