/************************************************************************
 * Auteur : 
 * Fichier : ProfilPage.css
 * Description : Fichier css de la page Profil.tsx
 ************************************************************************/
.profilContainer {
    padding-top: 30px;
    color: var(--ion-color-primary-contrast);
}

.titleProfilContainer, .linkContainer {
    display: flex;
}

.titleProfilContainer {
    justify-content: space-between;
}

.linkContainer {
    justify-content: space-between;
}

.linkContainer a {
    font-size: 10pt;
    width: 40%;
    color: var(--ion-color-primary-contrast);
    text-align: center;
    text-decoration: underline;
}

.profilSubtitle {
    font-size: 18pt;
    margin-left: 20px;
    padding-bottom: 10px;
}

.profilInfos {
    width: 100%;
    border-top: 1px solid var(--ion-color-secondary);
    border-bottom: 1px solid var(--ion-color-secondary);
    border-left: none;
    border-right: none;
    padding: 15px 20px;
    font-size: 12pt;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    
}

.profilInfosEdit {
    border-top: none;
}

.profilInfos::placeholder {
    color: var(--ion-color-primary-contrast);
}

.profilInfos + .profilInfos {
    border-top: none;
}

.inputLabel {
    margin-left: 20px;
    font-size: 14pt;
    margin-bottom: 10px;
    color: var(--ion-color-secondary);
    margin-top: 20px;
}

.profilConnectContainer {
    padding-top: 150px;
}
 .titleConnect {
    text-align: center;
    padding-top: 0;
    font-size: 25pt;
}

.subtitle {
    color: var(--ion-color-secondary);
    font-size: 16pt;
    text-align: center;
}

.profilButtonContainer {
    text-align: center;
    margin-top: 20px;
}

.profilButton {
    margin-bottom: 30px;
    padding: 15px 20px;
    color: var(--ion-color-primary);
    background-color: var(--ion-color-secondary);
    width: 200px;
    font-size: 18px;
    border-radius: 10px;
    
}

.profilButton:hover {
    color: var(--ion-color-secondary);
    background-color: var(--ion-color-primary);
}

.editButtonContainer {
    text-align: center;
    margin-top: 30px;
}

.selectListEdit {
    background-color: var(--ion-color-primary);
    border-bottom: 1px solid var(--ion-color-secondary);
    color: var(--ion-color-primary-contrast);
    padding: 0;
    border-top: 1px solid var(--ion-color-secondary);
}

.selectEdit {
    width: 100%;
    background-color: var(--ion-color-primary);
    border: none;
    overflow-y: scroll;
}