/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : UsPage.css
 * Description : Fichier css de la page Us.tsx
 ************************************************************************/
.title {
  font-size: var(--ion-font-size-h2);
  color: var(--ion-color-primary-contrast);
  text-align: left;
  width: 100%;
}

.usContainer {
  padding-top: 50px;
}

section {
  width: 90%;
  margin-left: 5%;
}

section + section {
  margin-top: 40px;
}

.description {
  font-size: var(--ion-font-size-h5);
  color: var(--ion-color-primary-contrast);
}

.devDescription {
  font-size: var(--ion-font-size-h6);
}

p {
  margin-bottom: 5px;
}
