/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : icons.css
 * Description : Fichier css contenant les classes des icones
 ************************************************************************/
.tab-icons {
    font-size: var(--ion-tab-icon-size);
    fill: var(--ion-color-primary-shade);
    stroke: var(--ion-color-primary-tint);
}

.active-icon {
    fill: var(--ion-color-secondary);
    stroke: var(--ion-color-primary);
}

.categorieIcons {
    width: 40px;
    height: 40px;
}