/************************************************************************
 * Auteur : Mendez Grégory
 * Fichier : HomePage.css
 * Description : Fichier css de la page Home.tsx
 ************************************************************************/
.selectList {
  background-color: var(--ion-color-primary);
  border-top: 1px solid var(--ion-color-secondary);
  border-bottom: 1px solid var(--ion-color-secondary);
  color: var(--ion-color-primary-contrast);
  padding: 0;
  
}

.answerList {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.select {
  width: 100%;
  padding: 20px 20px;
  background-color: var(--ion-color-primary);
  border: none;
  overflow-y: scroll;
}

.answerSelect {
  padding: 10px 20px;
}

.select option {
  font-size: 10pt;
  padding: 0;
  margin: 0;
}

.secondTitle {
  margin-top: 50px;
}

.alert-wrapper {
  width: 400px;
}

.alert-radio-icon {
  border-color: var(--ion-color-secondary);
}

.alert-wrapper.sc-ion-alert-md {
  width: none;
}


.alert-radio-inner.sc-ion-alert-md {
  background-color: var(--ion-color-secondary);
}

.sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md{
  border-color: var(--ion-color-secondary);
}


[aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md{
  border-color: var(--ion-color-secondary);
}

.sc-ion-alert-md {
  color: var(--ion-color-secondary);
  border-color: var(--ion-color-secondary);
}

.formContainer {
  margin: auto;
  margin-top: 200px;
  margin-bottom: 80px;
  width: 90%;
}

.formHeader {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin-left: -3%;
  padding-bottom: 0;
}

.placesAddContainer {
  margin-top: 210px;
  padding-bottom: 50px;
}

.formDetailsContainer {
  padding-bottom: 50px;
}


.formHeader h1 {
  font-size: var(--ion-font-size-h2);
}

.formTitle {
  font-size: var(--ion-font-size-h1);
}

.numbersOfQuestions {
  font-size: var(--ion-font-size-h5);
  width: 40%;
}





